[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "saebenchmarking"]
	path = saebenchmarking
	url = https://github.com/fionaaudia/saebenchmarking
